@font-face {
   font-family: '2547_Ddinya11N';
   font-display: swap;
   src: url('2547_Ddinya11N/font.ttf');
}
@font-face {
   font-family: 'bangna-new';
   font-display: swap;
   src: url('bangna-new/font.ttf');
}
