@font-face {
   font-family: 'bangna-new';
   font-display: swap;
   src: url('file:///C:/Users/Lenovo%20310%20i5/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-11_011010/fonts/bangna-new/font.ttf');
}
